################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyConsoleApp/v15
/MyConsoleApp/bin/Debug/netcoreapp2.0
/MyConsoleApp/obj
